# Mengabaikan file sensitif yang berisi Address dan PIN pribadi
core/config.json
core/.screen_cache.json
.screen_cache.json


# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Lingkungan Virtual Python
venv/
.env

# Lainnya
*.log
.DS_Store

# Konfigurasi aplikasi pihak ketiga (scrcpy)
config/
core/scrcpy-win64-v3.3.4/
